@model IEnumerable<UniPsg.Model.PAS.ViewModels.FlowLogViewModel>


@{
    ViewBag.Title = "流程修改記錄清單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h5><i class="fa fa-key" aria-hidden="true"> &nbsp;管理設定</i>  &nbsp;&gt;&nbsp; <a href="@Url.Action("Index","FlowLog")">流程修改記錄</a></h5>
<center><h4>@ViewBag.Title</h4></center>
<div class="form-horizontal">
    <div align="left"><i class="fa fa-plus" aria-hidden="true"><a href="@Url.Action("Create", "FlowLog")"> 流程修改記錄新增 </a></i></div>
    <table cellpadding="2" class="table" cellspacing="2" border="1">
        <tr class="btn-primary">
            <th> Id</th>
            <th> 修改前內容</th>
            <th> 修改後內容</th> 
            <th> 建立者</th>           
            <th> 建立時間</th>
            <th> </th>
        </tr>
        @if (ViewBag.ListClients != null)
            {
                foreach (var item in ViewBag.ListClients)
                {
                <tr class="btn-xs">
                    <td>@item.Id</td>
                    <td>@item.BeforContent</td>
                    <td>@item.AfterContent</td>
                    <td>@item.Creator</td>
                    <td>@item.CreatedDate.ToString()</td>
                    <td>
                        <i class="fa fa-trash-o" aria-hidden="true"><a onclick="return confirm('Do you want to Delete?')" href="@Url.Action("Delete", "FlowLog", new { id = item.Id })"> 刪除 </a></i>
                        &nbsp;||&nbsp; <i class="fa fa-pencil" aria-hidden="true"><a href="@Url.Action("Edit", "FlowLog", new { id = item.Id })"> 修改 </a></i>
                        &nbsp;|| &nbsp;<i class="fa fa-info" aria-hidden="true"><a href="@Url.Action("Detail", "FlowLog", new { id = item.Id })"> 檢視 </a></i>
                    </td>
                </tr>
            }
        }
    </table>
</div>

