@model UniPsg.Model.PAS.ViewModels.FunctionBehavioralIndicatorViewModel

@{
    ViewBag.Title = "行為指標修改";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h5><i class="fa fa-cog" aria-hidden="true"> &nbsp;設定管理</i>  &nbsp;&gt;&nbsp; <a href="@Url.Action("Index","FunctionBehavioralIndicator")">行為指標</a>  &nbsp;&gt;&nbsp; 行為指標修改 </h5>
<center><h4>@ViewBag.Title</h4></center>
<div class="form-horizontal">
    <hr />
    @using (Html.BeginForm("Edit", "FunctionBehavioralIndicator", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.ItemId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ItemId, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ItemId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Definition, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Definition, new { @class = "form-control", @rows = "6" })
                @Html.ValidationMessageFor(m => m.Definition, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
                <br />
                註：0為啟用、1為停用。
                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Modifier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Modifier, new { @class = "form-control", @Value = @User.Identity.Name, @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Modifier, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-success" />
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Modifier, new { @Value = @User.Identity.Name })
                <a href="~/FunctionBehavioralIndicator" class="btn btn-warning">不儲存退出</a>
            </div>
        </div>
    }
</div>
