@model UniPsg.Model.PAS.ViewModels.FormWeightViewModel

@{
    ViewBag.Title = "考核權重檢視";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h5><i class="fa fa-cog" aria-hidden="true"> &nbsp;設定管理</i>  &nbsp;&gt;&nbsp; <a href="@Url.Action("Index","FormWeight")">考核權重</a> &nbsp;&gt;&nbsp; 考核權重檢視 </h5>
<center><h4>@ViewBag.Title</h4></center>
<div class="form-horizontal">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormId)、@Html.DisplayFor(model => model.FormName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScopeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScopeId)、@Html.DisplayFor(model => model.ScopeName)
            @if (ViewBag.ScopeItems.Count != 0)
            {
                <table class="table" border="1">
                    <tr class="btn-sm">
                        <th>項目</th>
                        <th>比重(%)</th>
                        <th>分類</th>
                    </tr>
                    @foreach (var item in ViewBag.ScopeItems)
                {
                        <tr class="btn-sm">               
                            <td>@item.Name</td>
                            <td>@item.Weight</td>
                            <td>@item.KPICategoryName</td>
                        </tr>
                    }
                </table>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
            <br />
            (註：0為啟用、1為停用。)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>
    </dl>
</div>
<div class="btn-sm">
    @Html.DisplayNameFor(m => m.CreatedDate)@Html.DisplayFor(m => m.CreatedDate)，@Html.DisplayNameFor(m => m.Creator) @Html.DisplayFor(m => m.Creator)
    <br />
    @Html.DisplayNameFor(m => m.ModifiedDate)@Html.DisplayFor(m => m.ModifiedDate)，@Html.DisplayNameFor(m => m.Modifier) @Html.DisplayFor(m => m.Modifier)
</div>
<p>
    <i class="fa fa-plus" aria-hidden="true">&nbsp;@Html.ActionLink("新增", "Create", "FormWeight")</i> |
    <i class="fa fa-trash-o" aria-hidden="true"><a onclick="return confirm('Do you want to Delete?')" href="@Url.Action("Delete", "FormWeight", new { id = Model.Id })"> 刪除 </a></i> |
    <i class="fa fa-pencil" aria-hidden="true">&nbsp;@Html.ActionLink("修改", "Edit", new { id = Model.Id }) </i>|
    <i class="fa fa-list" aria-hidden="true">@Html.ActionLink("Back to List", "Index")</i>
</p>
