@model UniPsg.Model.PAS.ViewModels.MenuViewModel

@{
    ViewBag.Title = "選單修改";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h5><i class="fa fa-key" aria-hidden="true"> &nbsp;權限設定</i>  &nbsp;&gt;&nbsp;<a href="@Url.Action("Index","Menu")">選單</a>  &nbsp;&gt;&nbsp; 選單修改 </h5>
<center><h4>@ViewBag.Title</h4></center>
<div class="form-horizontal">
    <hr />
    @using (Html.BeginForm("Edit", "Menu", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Controller, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Controller, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Controller, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Action, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Action, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Action, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Definition, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Definition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Definition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ParentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OderSerial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.OderSerial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.OderSerial, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.Status, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "啟用" },
                       new { value = 1 , text = "停用" }},
                  "value", "text"), "請選擇", new { @class = "form-control" })
                <br />
                註：0為啟用、1為停用。
                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="~/Menu" class="btn btn-warning">不儲存退出</a>
                <input type="submit" value="儲存" class="btn btn-success" />
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Modifier, new { @Value = @User.Identity.Name })
            </div>
        </div>
    }
</div>

