@using PagedList.Mvc;
@model UniPsg.Web.UI.PAS.Models.RloeIndexView

@{
    ViewBag.Title = "角色清單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h5><i class="fa fa-key" aria-hidden="true"> &nbsp;權限設定</i>  &nbsp;&gt;&nbsp; <a href="@Url.Action("Index","Role")">角色</a></h5>
<center><h4>@ViewBag.Title</h4></center>
<div class="form-horizontal">
    <div align="left"><i class="fa fa-plus" aria-hidden="true"><a href="@Url.Action("Create","Role")"> 角色新增 </a></i></div>
    <table cellpadding="2" class="table" cellspacing="2" border="1">
        <tr class="bg-primary">
            <th class="text-nowrap"> Id </th>
            <th class="text-nowrap"> @Html.ActionLink("名稱", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = "label label-primary" }) </th>
            <th class="text-nowrap"> 狀態</th>
            <th class="text-nowrap"> @Html.ActionLink("修改時間", "Index", new { sortOrder = ViewBag.DateSortParm }, new { @class = "label label-primary" }) </th>
            <th class="text-nowrap"> </th>
        </tr>
        @if (Model.Roles != null)
            {
                foreach (var item in Model.Roles)
                {
                <tr class="btn-sm">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@Helpers.GetStatusDisplayName(@item.Status)</td>
                    <td>@item.ModifiedDate.ToString()</td>
                    <td align="center" width="15%">
                        <i class="fa fa-trash-o" aria-hidden="true"><a onclick="return confirm('Do you want to Delete?')" href="@Url.Action("Delete", "Role", new { id = item.Id })"> 刪除 </a></i>
                        &nbsp;||&nbsp; <i class="fa fa-pencil" aria-hidden="true"><a href="@Url.Action("Edit", "Role",new { id = item.Id })"> 修改 </a></i>
                        &nbsp;||&nbsp;<i class="fa fa-info" aria-hidden="true"><a href="@Url.Action("Detail", "Role",new { id = item.Id })"> 檢視 </a></i>
                    </td>
                </tr>
            }
        }
    </table>
    <div class="pager">
        @Html.PagedListPager(Model.Roles, page => Url.Action("Index", new { page }))
    </div>
</div>
